a {
    color: lightgray;
    margin: 0 10px 0 10px;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    transition: 0.2s;
}

a:hover {
    background-color: darkgray;
    transition: 1s;
}

img {
    vertical-align: middle;
}