<div class="fucture-navigation">
  <nav>
    <header>
      <a href="/" title="fucture">
        <img [src]="logoUrl" alt="Fucture" />
      </a>
    </header>
    <fucture-nav-button class="fucture-nav fucture-nav-links" *ngFor="let item of navigationItems.getNavigationItems();" [navigationItem]="item"></fucture-nav-button>
    <fucture-nav-button class="fucture-nav fucture-nav-links" *ngFor="let item of socialItems.getNavigationItems();" [navigationItem]="item"></fucture-nav-button>
  </nav>
</div>